*{
    margin: 0;
    padding: 0;
    border: 0;
}

h1{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
}

body{
    background-color: whitesmoke;
}

.letra{
    width: 400px;
    height: 48px;
    margin-top: 406px;
    margin-left: 429px;
    font-size: 23px;
    background-color: whitesmoke;

}
.btn-agregar{
    Width: 280px;
    Height: 67px;
    Top: 554px;
    Left: 579px;
    border-radius: 24px;
    Padding: 24px;
    Gap: 8px;
    margin-left: 501px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border: 1px solid #0A3871;
    border-radius: 24px;
}
.text{
    width: 200px;
    height: 40px;
    margin-top: 14px;
    margin-left: 540px;
    border-radius: 24px;
    display: block;
    background-color: darkblue;
    border: 1px solid gray;
    font-size: 1.5rem;
    color: whitesmoke;
}
.frase{
    width: 485px;
    margin-left: 300px;
    position: relative;
    top: -256px;
    left: 273px;

}
.vida{
    width: 326px;
    height: 40px;
    font-size: 57px;
    position: relative;
    top: -363px;
    left: 78px;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkblue;
}
.lienzo {
    border: 2px solid transparent;
    border-bottom: 3px solid darkblue;
    width: 500px;
    height: 300px;
    margin-top: -556px;
    margin-bottom: 273px;
    margin-left: 407px;
}

.p{
    margin-top: -77px;
    margin-bottom: 273px;
    margin-left: 502px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}


